<h1>Template Driven Form</h1>
<form #frm="ngForm" (ngSubmit)="submit(frm.value,frm)">
    <input required type="text" #fname="ngModel" placeholder="Name" name="name" ngModel> <br>
    <input type="text" placeholder="Surname" name="surname" ngModel> <br>
    <input type="email" placeholder="Email" name="email" ngModel> <br>
    <div ngModelGroup="address">
        <input type="text" name="country" placeholder="Country" ngModel> <br>
        <input type="text" name="city" ngModel placeholder="City"> <br>
        <input type="text" name="addressLong" ngModel placeholder="Address">
    </div>
    <button type="submit">Submit</button> 
</form>
<button (click)="resetForm()">Reset</button>
